.dropDownList {
	position: absolute;
	background: #fff;
	width: 100%;
	padding: calc(var(--spacer) / 8);
	border: 1px solid var(--brand-grey);
	z-index: 2;
	font-size: var(--font-size-small);
	border-radius: var(--border-radius);
	max-height: 400px;
	overflow-y: auto;
}
.dropDownList li {
	text-align: left;
	padding: calc(var(--spacer) / 8);
	color: var(--brand-grey-dark);
}

.dropDownList li mark {
	color: var(--yellow);
	background-color: inherit;
}

.dropDownList .active,
.dropDownList li:hover {
	background: var(--brand-grey-dark);
	cursor: pointer;
	color: var(--brand-white);
}